html{
    width: 100%;
    height: 100%;
}

body{
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

#forme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95%;
}

.sear{
    margin: 20px;
}

#input{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 60vw;
    height: 41px;
    max-width: 582px;
    border: 1px solid #dadce0;
    border-radius: 20px;
    padding-left: 20px;
    margin: 20px;
}

#search{
    height: 100%;
    border: none;
    outline: none;
    width: 95%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
}

input[type="submit"], input[type="button"]{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 0px 4px;
    padding: 0 16px;
    height: 36px;
    cursor: pointer;
}

img[alt = "google logo"]{
    width: 299.20px;
    height: 105.60px;
}

img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#sicon{
    padding-left: 0px;
}

#vicon{
    padding-right: 10px;
}

header{
    font-family: arial, sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: row-reverse;
    height: 5%;
}

header img{
    padding-top: 17px;
    padding-right: 20px;
}

a{
    margin: 10px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: black underline;
}

#left{
    margin-right: 20px;
}

p{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 16px;
    line-height: 16px;
    font-family: roboto-regular, arial, sans-serif;
    color: blue;
    position: relative;
    top: 69px;
    left: -64px;
}

#logodiv{
    display: flex;
    flex-direction: row;
}

#buttons{
    display: flex;
    flex-direction: row;
}

#logo{
    left: 20px;
    width: 74px;
    height: 24px;
    position: absolute;
}

#adhead{
    color: #D92034;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

hr{
    border: 0;
    border-bottom: 1px solid #ebebeb;
}

table{
    margin-top: 20px; 
    margin-left: 60px;
    width: 80%;
}

#advanced{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#head1{
    font-size: 16px;
    font-family: arial, sans-serif;
    text-decoration-color: rgb(51, 51, 51);
    font-weight: 500;
}

#head2{
    font-size: 13px;
    font-family: arial, sans-serif;
    text-decoration-color: rgb(119, 119, 119);
    font-weight: 700;
}

.normal{
    font-size: 13px;
    font-family: arial, sans-serif;
    font-weight: 400;
    text-decoration-color: rgb(34, 34, 34);
    width: 167px;
    height: 42px;
}

.adinput{
    background-color: rgb(255, 255, 255);
    border-top-color: rgb(192, 192, 192);
    border-bottom-color: rgb(217, 217, 217);
    border-left-color: rgb(217, 217, 217);
    border-right-color: rgb(217, 217, 217);
    cursor: text;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    border-width: 1px;
    border-radius: 1px;
    height: 25px;
    width: 100%;
}

.incol{
    width: 570px;
    height: 29px;
}

.hint{
    padding: 10px;
    vertical-align: middle;
    font-family: arial, sans-serif;
    font-size: 11px;
}

.extra{
    font-size: 11px;
    font-family: monospace;
}

#adventer{
    background-color: #4d90fe;
    border-color: rgb(47, 91, 183);
    border-width: 1px;
    color:rgb(255, 255, 255);
    font-size: 11px;
    font-family: arial, sans-serif;
    height: 30px;
    width: 120px;
    position: relative;
    margin-top: 20px;
    left: 680px;
}